<p id="notice"><%= notice %></p>

<p>
  <strong>Proclamation:</strong>
  <%= @proclamation.proclamation %>
  <strong>Votes:</strong>
  <%= @proclamation.votes_for %>
</p>

<%= link_to 'Vote Up' create_vote_path %>

<%= link_to 'Edit', edit_proclamation_path(@proclamation) %> |
<%= link_to 'Back', proclamations_path %> |
<%= link_to('vote for this proclamtion!', vote_up_proclamation_path(@proclamation), :method => :post) %>


